{
  "presets": ["env"],
  "plugins": ["transform-object-rest-spread", "transform-runtime"],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
